<div nz-row class="container-main">
    <div nz-col [nzSpan]="24" class="div-logo">
      <div>
        <h3>K</h3>
      </div>
    </div>
    <div nz-col [nzSpan]="7" class="div-card-login">
        <nz-card class="card-login">
            <nz-spin [nzSpinning]="isLoading">
              <h3 class="text-center">Inicio de sesión</h3>
              <form nz-form  class="login-form" [formGroup]="loginForm">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                      <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input  placeholder="Ingrese usuario/email" formControlName="username" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                      <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input  placeholder="Password" formControlName="password"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <button 
                    nz-button class="login-form-button login-form-margin" 
                    [nzType]="'primary'"
                    [disabled]="loginForm.invalid || isLoading"
                    (click)="onSubmitLogin()"
                  >Iniciar Sesión</button>
              </form>
            </nz-spin>
        </nz-card>
    </div>
</div>