@import '../../../variables.less';

.container-main{
    background: rgb(176,174,238);
    background: radial-gradient(circle, rgb(255, 162, 70) 0%, rgb(255, 128, 0) 100%);
    width: 100vw;
    height: 100vh;

    .div-logo{
        height: 50px;
        margin-top: 15%;
        
        div{
            background-color: white;
            font-size: x-large;
            width: 45px;
            height: 45px;
            border-radius: 50px;
            margin: auto;

            h3{
                color: rgb(255, 128, 0);
                padding-left: 13px;
            }
        }
        /* h1{
            text-align: center;
            padding-top: 10%;
        } */
    }

    .div-card-login{
        // padding-top: 20%;
        margin: 0 auto;
        border-radius: 20px 20px;

        .card-login{

            border-radius: 10px;

            .login-form {
                .login-form-button {
                    width: 100%;
                }
    
                nz-input-group{
                    color: @primary-color;
                }
            }
        }

        
    }
}
