<nz-spin nzTip="Cerrando sesión..." [nzSpinning]="isLoggingOut">
    <nz-layout *ngIf="!result.show">
        <nz-header>
            <div>
                <h1>Kafeteria</h1>
            </div>
            <div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Buscar productos..." />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search" class="icon-search-bar"></i>
                </ng-template>
            </div>
            <div></div>
            <div>
                <div class="button-login">
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    <ng-container *ngIf="userName != '';else anchorLogin">
                        <a nz-popover [nzPopoverContent]="contentOverUsername">{{ userName | titlecase }}</a>
                        <ng-template #contentOverUsername>
                            <a routerLink="/admin" style="display: block;" *ngIf="permissionsRequired.panel">Panel</a>
                            <a (click)="toLogout()">Cerrar sesión</a>
                        </ng-template>
                    </ng-container>
                    <ng-template #anchorLogin>
                        <a href="" routerLink="/auth/login">Iniciar sesion</a>
                    </ng-template>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <nz-spin nzTip="Comprando..." [nzSpinning]="isBuying">
                <div nz-row class="row-list-products">
                    <div nz-col [nzSpan]="6" class="col-card-product" *ngFor="let product of products$ | async">
                        <nz-card style="width: 300px;margin-top: 16px" nzHoverable="true">
                            <nz-card-meta
                              [nzAvatar]="avatarTemplate"
                              [nzTitle]="product.name | titlecase"
                              [nzDescription]="description"
                            ></nz-card-meta>
                            <ng-template #description>
                                <div style="display: grid; grid-template-columns: repeat(2, 1fr); ">
                                    <div>Stock: {{ product.stock }}</div>
                                    <div>{{ product.price | currency }}</div>
                                </div>
                            </ng-template>
                            <div class="div-card-buttons">
                                <ng-container *ngIf="product.id == productSelectedId; else buttonBuy">
                                    <button *ngIf="inputQuantity.value <= 1" class="action-button" nz-button nzType="primary" nzShape="circle" (click)="productSelectedId = 0"><i nz-icon nzType="delete"></i></button>
                                    <button *ngIf="inputQuantity.value > 1" class="action-button" nz-button nzType="primary" nzShape="circle" (click)="minusQuantity()"><i nz-icon nzType="minus"></i></button>
                                    <nz-input-number [formControl]="inputQuantity"></nz-input-number> 
                                    <button class="action-button" nz-button nzType="primary" nzShape="circle" (click)="plusQuantity()" [disabled]="inputQuantity.value == product.stock"><i nz-icon nzType="plus"></i></button>
                                    <button class="action-button" nz-button nzType="primary" nzShape="circle" (click)="confirmPurchase()"><i nz-icon nzType="check"></i></button>
                                </ng-container>
                                <ng-template #buttonBuy>
                                    <button nz-button nzBlock class="button-buy" (click)="toSelectProduct(product.id)">Comprar</button>
                                </ng-template>
                            </div>   
                        </nz-card>
                    </div>
                    <ng-template #avatarTemplate>
                        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                    </ng-template>
                    
                </div>
            </nz-spin>
        </nz-content>
    </nz-layout>
</nz-spin>
<nz-result
        *ngIf="result.show"
        [nzStatus]="result.status"
        [nzTitle]="result.title"
        [nzSubTitle]="result.description"
    >
    <div nz-result-extra>
        <button nz-button nzType="primary" (click)="hideResult()">Aceptar</button>
    </div>
</nz-result>