@import "../../../variables.less";

nz-header{
    background-color: @bg-color;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    h1{
        padding-left: 10%;
        color: white;
    }
}

nz-content{
    background-color: white;
}

.icon-search-bar{
    color: @bg-color;
}

.button-login{
    width: 150px;
    margin-left: auto;
    color: white;

    a{
        color: white;
        cursor: pointer;
        font-size: medium;
        padding: 5%;
    }
}

.col-card-product{
    display: flex;
    justify-content: center;
    
    .div-card-buttons{
        margin-top: 5%;
        display: flex;
        justify-content: center;

        nz-input-number{
            width: 15%;
        }

        .button-buy{
            background-color: @success-color;
            color: white;
        }

        .action-button{
            margin: 0% 2%;
        }
    }
}