<app-head-page 
  title="productos" 
  (addButtonClicked)="showAddNewProductDrawer()" 
  [permissionToCreate]="permissionsRequired.create"
></app-head-page>
<div nz-row nzw class="main-container">
  <div nz-col nzSpan="24">
    <nz-table #productTable 
          [nzData]="(products$ | async) || []" 
          [nzScroll]="{ x: 'auto'}"
          [nzLoading]="isLoading"
        >
        <thead>
          <tr>
            <th nzWidth="100px">Nombre</th>
            <th nzWidth="100px">Stock</th>
            <th nzWidth="100px">Price</th>
            <th nzWidth="100px">Alerta de stock</th>
            <th nzWidth="100px">Fecha</th>
            <th nzWidth="100px" *ngIf="permissionsRequired.update || permissionsRequired.delete">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productTable.data">
            <td>{{product.name}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td>{{product.minimum_stock}}</td>
            <td>{{product.datetime | date }}</td>
            <td *ngIf="permissionsRequired.update || permissionsRequired.delete">
              <a *ngIf="permissionsRequired.update" (click)="showEditProductDrawer(product)">Editar</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
              nz-popconfirm
              nzPopconfirmTitle="Estás seguro?"
              [nzCancelText]="'Cancelar'"
              [nzOkText]="'Sí'"
              nzPopconfirmPlacement="top"
              (nzOnConfirm)="deleteProduct(product.id)"
              *ngIf="permissionsRequired.delete"
              >Eliminar</a>
            </td>
          </tr>
        </tbody>
    </nz-table>
  </div>
</div>
