<div nz-row nzw class="main-container">
    <div nz-col nzSpan="20" class="div-title">
      <h1>{{ title | titlecase }}</h1>
    </div>
    <div nz-col nzSpan="4" *ngIf="permissionToCreate" class="div-button-plus">
      <button nz-button nzType="primary" nzShape="circle" nzSize="large" (click)="clickAddButton()"><i nz-icon nzType="plus"></i></button>
    </div>
</div>