<app-head-page 
    title="Roles" 
    (addButtonClicked)="showAddNewRoleDrawer()"
    [permissionToCreate]="permissionsRequired.create"
></app-head-page>
<div nz-row [nzGutter]="[0,16]" nzJustify="space-around" class="row-cards">
    <div nz-col [nzSpan]="24" [nzLg]="12" [nzXl]="6" *ngFor="let role of roles$ | async">
        <nz-card class="card-role" [nzActions]="[actionEdit, actionDelete]" nzHoverable="true">
            <nz-card-meta
                [nzAvatar]="avatar"
                [nzTitle]="role.name"
            ></nz-card-meta>
        </nz-card>
        <ng-template #actionEdit>
            <a (click)="showEditRoleDrawer(role)" nz-tooltip nzTooltipTitle="Editar"><i nz-icon nzType="edit"></i></a>
        </ng-template>
        <ng-template #actionDelete>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Estás seguro?"
              [nzCancelText]="'Cancelar'"
              [nzOkText]="'Sí'"
              nzPopconfirmPlacement="top"
              (nzOnConfirm)="deleteRole(role.id)"
              nz-tooltip 
              nzTooltipTitle="Eliminar"
            ><i nz-icon nzType="delete" style="color: red;"></i></a>
        </ng-template>
        <ng-template #avatar>
            <nz-avatar nzSrc="https://thumbs.dreamstime.com/b/icono-humano-logo-design-element-de-la-cerradura-de-la-seguridad-icono-humano-logo-design-element-de-la-cerradura-de-la-seguridad-95624868.jpg"></nz-avatar>
        </ng-template>
    </div>
</div>
