<app-head-page 
  title="usuarios" 
  (addButtonClicked)="showAddNewUserDrawer()"
  [permissionToCreate]="permissionsRequired.create"
></app-head-page>
<div nz-row nzw class="main-container">
    <div nz-col nzSpan="24">
      <nz-table #basicTable
        [nzData]="(users$ | async) || []" 
        [nzScroll]="{ x: 'auto'}"
        [nzLoading]="isLoading"
      >
          <thead>
            <tr>
              <th nzWidth="100px">Nombre</th>
              <th nzWidth="100px">Corrreo</th>
              <th nzWidth="100px">Rol</th>
              <th nzWidth="100px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of basicTable.data">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>
                <ul class="ul-roles">
                    <li class="li-roles" *ngFor="let role of user.roles">{{ role.name }}</li> 
                </ul>
              </td>
              <td>
                <a (click)="showEditUserDrawer(user)">Editar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                nz-popconfirm
                nzPopconfirmTitle="Estás seguro?"
                [nzCancelText]="'Cancelar'"
                [nzOkText]="'Sí'"
                nzPopconfirmPlacement="top"
                (nzOnConfirm)="deleteUser(user.id)"
                >Eliminar</a>
              </td>
            </tr>
          </tbody>
      </nz-table>
    </div>
  </div>