<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a routerLink="/">
          <h1 *ngIf="isCollapsed" class="char-logo">K</h1>
          <h1 class="word-logo">Kafeteria</h1>
        </a>
      </div>
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          nzMatchRouter
          *ngIf="permissionsRequired.products"
        >
          <i nz-icon nzType="shop"></i>
          <span><a href="" routerLink="/admin/products">Productos</a></span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          nzMatchRouter
          *ngIf="permissionsRequired.users"
        >
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <span><a href="" routerLink="/admin/users">Usuarios</a></span>
        </li>
        <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          nzMatchRouter
          *ngIf="permissionsRequired.roles"
        >
          <i nz-icon nzType="security-scan" nzTheme="outline"></i>
          <span><a href="" routerLink="/admin/roles">Roles</a></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header container">
          <div>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
          </div>
          <div class="logout">
            <span>Hola, {{ userName | titlecase }}</span>
            <ng-container *ngIf="isLoading" >
              <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
              <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
            </ng-container>
            <a nz-tooltip="Cerrar sesión" (click)="toLogout()" *ngIf="!isLoading">
              <i class="trigger"
                 nz-icon
                 [nzType]="'logout'"
              ></i>
            </a>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
</nz-layout>