@import "../../../variables.less";

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  .app-layout {
    height: 100vh;
  }

  .ant-menu {
    background-color: @layout-sider-background !important;
    // color: white;
  }

  .header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .9s,padding 0s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: @layout-sider-background;
    transition: all 3s ease-out;

    .char-logo{
      font-weight: 600;
      color: white;
      // transition: all .3s;
    }
    
    .word-logo {
      display: inline-block;
      margin: 0 0 0 20px;
      color: #fff;
      font-weight: 600;
      font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
      vertical-align: middle;
      transition: ease-in-out .3s;
  
    }
  }
  
  
  nz-header {
    padding: 0;
    width: 100%;
    // z-index: 2;
  }
  
  .app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  nz-content {
    margin: 24px;
  }
  
  .inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .logout{
    display: flex;
    justify-content: end;
    font-size: large;

    span {
      padding-right: 10px;

    }

    a {
      padding-left: 10px;
      padding-right: 30px;
      cursor: pointer;
    }

    nz-spin{
      padding-right: 30px;
    }
  }
}
