<nz-spin [nzSpinning]="isLoading">
  <div nz-row>
    <div nz-col nzSpan="24" nzLg="18" nzXl="14">
      <form nz-form [nzLayout]="'inline'" [formGroup]="formUser">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="user">
                <input formControlName="name" nz-input placeholder="Nombre" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="mail">
                  <input type="email" formControlName="email" nz-input placeholder="Correo Electrónico" />
                </nz-input-group>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item style="width: 250px">
              <nz-form-control>
                <nz-select
                  nzMode="multiple"
                  formControlName="roles"
                  nzPlaceHolder="Seleccione un rol"
                >
                  <nz-option *ngFor="let role of roles$ | async" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
      </form>
    </div>
    <div nz-col nzSpan="24" nzLg="6" nzXl="10">
      <div nz-row>
        <div nz-col nzSpan="8" nzSm="4" nzLg="12" nzXl="6">
          <button 
            nz-button nzType="primary" 
            (click)="onSubmitFormUser()"
            [disabled]="formUser.invalid || !formUser.dirty"
          >Guardar</button>
        </div>
        <div nz-col nzSpan="8" nzSm="4" nzLg="12" nzXl="6">
          <button 
            nz-button
            (click)="_drawer.close(false)"
          >Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</nz-spin>