<nz-spin [nzSpinning]="isLoading">
  <form nz-form [formGroup]="formNewProduct">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzSpan="8">Nombre</nz-form-label>
          <nz-form-control nzSpan="16" nzHasFeedback [nzErrorTip]="nameErrorTpl">
            <input nz-input formControlName="name"/>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">El nombre es requerido</ng-container>
              <ng-container *ngIf="control.hasError('minlength')">Mínimo ( {{ control.errors['minlength']['requiredLength'] | json }} ) Caracteres</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzSpan="8">Precio</nz-form-label>
          <nz-form-control nzSpan="16" nzHasFeedback [nzErrorTip]="priceErrorTpl">
            <nz-input-number
              [nzMin]="1"
              [nzStep]="1"
              [nzFormatter]="formatterPesos"
              formControlName="price"
            ></nz-input-number>
            <ng-template #priceErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">El precio es requerido</ng-container>
              <ng-container *ngIf="control.hasError('min')">Valor mímino: {{ control.errors['min']['min'] | json }}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzSpan="8">Stock</nz-form-label>
          <nz-form-control nzSpan="16" nzHasFeedback [nzErrorTip]="stockErrorTpl">
            <nz-input-number
              [nzMin]="1"
              [nzStep]="1"
              formControlName="stock"
            ></nz-input-number>
            <ng-template #stockErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">El stock es requerido</ng-container>
              <ng-container *ngIf="control.hasError('min')">Valor mímino: {{ control.errors['min']['min'] | json }}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzSpan="8">Alerta</nz-form-label>
          <nz-form-control nzSpan="16" nzHasFeedback [nzErrorTip]="alertErrorTpl">
            <nz-input-number
              [nzMin]="1"
              [nzMax]="100"
              [nzStep]="1"
              nzPlaceHolder="Mínimo de Stock"
              formControlName="minimum_stock"
            ></nz-input-number>
            <ng-template #alertErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">La alerta es requerida</ng-container>
              <ng-container *ngIf="control.hasError('min')">Valor mímino: {{ control.errors['min']['min'] | json }}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button 
              class="form-buttons" 
              nz-button nzType="primary" 
              (click)="onSubmitFormNewProduct(formNewProduct.value)"
              [disabled]="formNewProduct.invalid"
            >Guardar</button>
            <button class="form-buttons" nz-button (click)="closeDrawer()">Cancelar</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>