<nz-spin [nzSpinning]="isLoading">
  <form nz-form [formGroup]="formRole">
      <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTpl">
                    <input nz-input placeholder="Nombre" formControlName="name"/>
                    <ng-template #nameErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">El nombre es requerido</ng-container>
                      <ng-container *ngIf="control.hasError('minlength')">Mínimo ( {{ control.errors['minlength']['requiredLength'] | json }} ) Caracteres</ng-container>
                    </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
      </div>
      <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="permissionsErrorTpl">
                    <nz-select
                        [nzMaxTagCount]="3"
                        nzMode="multiple"
                        nzPlaceHolder="Seleccione los permisos"
                        formControlName="permissions"
                        >
                        <nz-option *ngFor="let item of permissions$ | async" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                    <ng-template #permissionsErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">Seleccione al menos (1) permiso</ng-container>
                    </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
      </div>
      <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="24">
              <button class="form-buttons" nz-button nzType="primary" [disabled]="formRole.invalid || !formRole.dirty" (click)="onSubmitFormRole()">Guardar</button>
              <button class="form-buttons" nz-button (click)="_drawer.close(false)">Cancelar</button>
            </nz-form-control>
          </nz-form-item>
      </div>
  </form>
</nz-spin>