
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@import "./variables.less";

/* You can add global styles to this file, and also import other style files */
:root{
    padding: 0%;
    margin: 0%;
    
    nz-input-number{
        width: 100%;
    }
}